<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
</head>
<body>
    <h1>List</h1>
    <ul>
        <% ipBlocked.forEach(ip => { %>
            <li>
                <span><%= ip.ip_address %> - <%= ip.reason %></span>
                <form action="/delete-ip" method="POST" style="display:inline;">
                    <input type="hidden" name="ip_id" value="<%= ip.id %>">
                    <button type="submit" style="border: none;color: white;background: white;">Eliminar</button>
                </form>
            </li>
        <% }); %>
    </ul>

    <h2>Agregar IP Bloqueada</h2>
    <form action="/add-ip" method="POST">
        <label for="ip">Dirección IP:</label>
        <input type="text" id="ip" name="ip" required>
        <label for="reason">Motivo:</label>
        <input type="text" id="reason" name="reason" required>
        <button type="submit">Agregar</button>
    </form>
</body>
</html>
